{{#each}}
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title">
        {{name}}
      </div>
    </div>
    <div class="panel-body">
      This is result
    </div>
  </div>
{{/each}}

